<ion-view view-title="Stopur">
  <ion-content class="stable-bg">
      <div class="row light-bg padding">
          <div class="col col-center" align="center">
              <h1>04:58</h1>
          </div>
      </div>
      <div style="height:30px"><!-- SPACER --></div>
      <div class="row padding">
          <div class="col col-50 col-offset-25" align="center">
              <button class="button button-positive">
                Start
              </button>
              
              <button class="button button-stable">
                Stop
              </button>
          </div>
      </div>
      
  </ion-content>
</ion-view>
