<ion-view view-title="Møderum">
    <ion-content>
        <div class="list">
            <div class="item">
                Lyttere
                <span class="badge badge-energized">{{(context.room.participants|filter:{host:false}).length}}</span>
            </div>
            <div class="item item-divider">Ønsker at svare</div>
            <div class="item item-icon-right" ng-repeat="participant in context.room.participants| filter:isShown">
                <h2>{{participant.name}}</h2>
                <i class="icon ion-ios7-volume-high" ng-class="{'stable':participant.muted,'positive':!participant.muted}"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
