<ion-view view-title="{{'MEETING.TITLE' | translate}}">
    <ion-content>
        <div class="list">
            <div class="item item-icon-right" ng-repeat="participant in context.room.participants|filter:{host:false}" ng-class="{'positive-bg':participant.commentRequested && participant.muted}">
                <h2>{{participant.name}}</h2>
                <i class="icon ion-ios-volume-high positive" ng-if="!participant.muted"></i>
                <i class="icon ion-android-hand stable" ng-if="participant.commentRequested && participant.muted"></i>
                <i class="icon stable" ng-if="!participant.commentRequested || participant.muted"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
