<ion-view view-title="Stopur" class="stopwatch">
  <ion-content class="stable-bg">
      <div class="row light-bg padding">
          <div class="col col-center" align="center">
              <div class="timestamp">{{elapsedTime|time:1:2}}</div>
          </div>
      </div>
      <div style="height:30px"><!-- SPACER --></div>
      <div class="row padding">
          <div class="col col-50 col-offset-25" align="center">
              <button class="button button-large" ng-click="toggle()" ng-class="{'button-positive':state==='idle','button-assertive':state!=='idle'}">
                {{state==='idle' ? 'Start' : 'Stop'}}
              </button>
              
          </div>
      </div>
      
  </ion-content>
</ion-view>
