<ion-view view-title="{{'STOPWATCH.TITLE'|translate}}" class="stopwatch">
  <ion-content class="stable-bg">
      <div class="row light-bg padding">
          <div class="col col-center" align="center">
              <div class="timestamp">{{elapsedTime|time:1:2}}</div>
          </div>
      </div>
      <div style="height:30px"><!-- SPACER --></div>
      <div class="row padding">
          <div class="col col-50 col-offset-25" align="center">
              <button class="button button-large button-positive" ng-click="toggle()" translate="STOPWATCH.START" ng-if="state==='idle'"></button>
              <button class="button button-large button-assertive" ng-click="toggle()" translate="STOPWATCH.STOP" ng-if="state!=='idle'"></button>
          </div>
      </div>

  </ion-content>
</ion-view>
