<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="{{'TABS.MEETING'|translate}}" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/comments">
    <ion-nav-view name="tab-comments"></ion-nav-view>
  </ion-tab>


  <ion-tab title="{{'TABS.STOPWATCH'|translate}}" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" href="#/tab/stopwatch">
    <ion-nav-view name="tab-stopwatch"></ion-nav-view>
  </ion-tab>

<ion-tab title="{{'TABS.SETTINGS'|translate}}" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
